
/* Reset From My Own Website
/* ---------------------------------------------------------- */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
/* END RESET */

body {
    overflow-x: hidden;
    color: color(var(--midgrey) l(-25%));
    font-family: "Comic Sans MS";
    font-size: 1.5rem;
    line-height: 1.6em;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0;
    text-rendering: optimizeLegibility;
    background: url("./fire.gif");
    min-height: 100vh;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    font-feature-settings: "liga" on;
}


body > header {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 7em auto 7em;
    grid-template-areas: ". . ."
                         ". herotext ."
                         ". . .";
    padding: 3em;
    position: relative;

    background:radial-gradient(ellipse at center, rgba(0,255,0,1) 0%, rgba(255,0,0,1) 50%, rgba(255,255,0,1) 100%);
} 
body > header > div {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    background: rgba(0,0,0,0.18)
}

body > header section {
    grid-area: herotext;
    color: yellow;
    text-rendering: optimizeLegibility;
    z-index: 10;
    font-size: 100%;
    text-align: center;
}

body > header h1 {
    font-size: 78px;
    font-weight: 700;
}

body > header h2 {
    padding-top: 2em;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0.5px;
    opacity: 0.8;
}

#sidebar {
    position: absolute;
    right: 2em;
    width: 300px;
    min-height: 300px;
    border-radius: 5px;
    box-shadow: rgba(39,44,49,0.06) 8px 14px 38px, rgba(39, 44, 49, 0.03) 1px 3px 8px;

    margin-top: -93px;
    z-index: 1;
    background: red;
}

#sidebar > h3 {
    margin-top: 1em;
    text-align: center;
    padding-top: 5px;
    font-size: 22px;
    font-weight: 700;
}

#sidebar > summary {
    font-size: 18px;
    text-align: center;
    color: blue;
    line-height: 1.2rem;
    opacity: 0.7;
}

main {
    display: block;
    position: relative;
    z-index: 1;

    margin-left: 25%;
    margin-right: 25%;
    margin-top: -100px;
    padding-top: 0px;
}

main nav {
    display: block;
    position: relative;
    top: -2em;
}

main nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin-right: 10px;
    display: block;
    background: linear-gradient(0deg, rgba(255,255,0,1) 0%, rgba(255,255,0,1) 16%, rgba(128,0,0,1) 51%, rgba(255,255,0,1) 85%, rgba(0,0,0,1) 100%);
}

main nav a {
    padding: 1em;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
}

#about {
    margin-top: -2rem;
}

main > section {
    margin-top: 1em;
    clear: both;
    border-radius: 5px;
    box-shadow: rgba(39,44,49,0.06) 8px 14px 38px, rgba(39, 44, 49, 0.03) 1px 3px 8px;
    min-height: 300px;
    background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 100%);
    color: white;
    padding: 25px 25px 0;
    padding-bottom: 1em;
}

main > section p {
    margin-top: 1rem;
    font-size: 15px;
    line-height: 1.2rem;
}

hr {
    clear: both;
}

img {
    border-radius: 5px;
}

.right {
    float: right;
    margin-left: 1rem;
}

.left {
    float: left;
    margin-right: 1rem;
}

main > section > h3 {
    text-align: center;
    padding-top: 5px;
    font-size: 22px;
    font-weight: 700;
}

.history {
    min-height: 150px;
    display: flex;
}

.logo-left {
    margin-right: 1em;
    width: 150px;
}

.logo-right {
    margin-left: 1em;
    width: 150px;
}

.history ul {
    margin-top: 1em;
    list-style: inside;
    font-size: 1rem;
    line-height: 1.1rem;
}

.techlist {
    list-style: inside;
    font-size: 1rem;
    line-height: 1.1rem;
}

h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

h5 {
    font-size: 1rem;
    line-height: 1.1rem;
    opacity: 0.6;
}

footer {
    margin-top: 3em;
    background: #15171a;
    text-align: center;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1em auto 1em;
    grid-template-areas: ". . ."
                         ". center ."
                         ". . .";
}

footer > h5 {
    color: white;
    grid-area: center;
}

/*
 * Copyright (c) 2012-2013 Thibaut Courouble
 * http://www.cssflow.com
 * Licensed under the MIT License
 *
 * Sass/SCSS source: https://goo.gl/8hncj
 * PSD by Liam McCabe: https://goo.gl/md3Dj
 */

.notepaper {
    position: relative;
    margin: 30px auto;
    padding: 29px 20px 20px 45px;
    width: 280px;
    line-height: 30px;
    color: #6a5f49;
    text-shadow: 0 1px 1px white;
    background-color: #f2f6c1;
    background-image: -webkit-radial-gradient(center, cover, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 90%), -webkit-repeating-linear-gradient(top, transparent 0%, transparent 29px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px);
    background-image: -moz-radial-gradient(center, cover, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 90%), -moz-repeating-linear-gradient(top, transparent 0%, transparent 29px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px);
    background-image: -o-radial-gradient(center, cover, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 90%), -o-repeating-linear-gradient(top, transparent 0%, transparent 29px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px);
    border: 1px solid #c3baaa;
    border-color: rgba(195, 186, 170, 0.9);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 0 5px #d8e071, 0 0 1px rgba(0, 0, 0, 0.1), 0 2px rgba(0, 0, 0, 0.02);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 0 5px #d8e071, 0 0 1px rgba(0, 0, 0, 0.1), 0 2px rgba(0, 0, 0, 0.02);
  }
  
  .notepaper:before, .notepaper:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
  }
  
  .notepaper:before {
    left: 28px;
    width: 2px;
    border: solid #efcfad;
    border-color: rgba(239, 207, 173, 0.9);
    border-width: 0 1px;
  }
  
  .notepaper:after {
    z-index: -1;
    left: 0;
    right: 0;
    background: rgba(242, 246, 193, 0.9);
    border: 1px solid rgba(170, 157, 134, 0.7);
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  
  .quote {
    font-family: Georgia, serif;
    font-size: 14px;
  }
  
  .curly-quotes:before, .curly-quotes:after {
    display: inline-block;
    vertical-align: top;
    height: 30px;
    line-height: 48px;
    font-size: 50px;
    opacity: .2;
  }
  
  .curly-quotes:before {
    content: '\201C';
    margin-right: 4px;
    margin-left: -8px;
  }
  
  .curly-quotes:after {
    content: '\201D';
    margin-left: 4px;
    margin-right: -8px;
  }
  
  .quote-by {
    display: block;
    padding-right: 10px;
    text-align: right;
    font-size: 13px;
    font-style: italic;
    color: #84775c;
  }
  
  .lt-ie8 .notepaper {
    padding: 15px;
  }